@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

* {
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

h1, h2 {
    font-family: "Poppins", sans-serif;
}

img {
    max-width: 100%;
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
}

header {
    background-image: url(./images/bg-hero-desktop.svg);
    background-size: cover;
    background-position: center center;
    background-color: hsl(193, 100%, 96%);
    padding: 40px 0;
}

.flex {
    display: flex;
}

nav {
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
}

.btn {
    padding: 16px 60px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}













